.caja1{
	height: 130px;
	width: 150px;
	border: 10px solid yellow;
	font-size: 10px;
	padding: 20px;
	text-align: center; 
}

.caja2{
	height: 130px;
	width: 150px;
	border: 10px solid yellow;
	font-size: 10px;
	padding: 20px;
	text-align: left;
	margin: auto;
}
